<div class ="container-fluid">
  <br/>
    <div class="input-group h3">
      <div class="col-md-6">
        <h2>Componentes
        <button type="button" (click)="ngOnInit()" class="btn btn-Secondary">Listar</button>
        <button type="button" [routerLink]="['/componenteAdd']" routerLinkActive="router-link-active" class="btn btn-success mx-2">Novo</button>
        <button type="button" (click)="imprimiRelatorioList()" class="btn btn-dark" data-toggle="modal" data-target="#mymodal">PDF</button>
        </h2>
      </div>
    </div>
    <div class="col-md-5">
      <div class="input-group h2">
        <input type="text" class="form-control" id="nomeC" name="nomeC" [(ngModel)]="nomeC" placeholder="Pesquisar componente">
        <button type="button"(click)="consultarComponente()" class="btn btn-Secondary">Buscar</button>
      </div>
    </div>
  <br/>

  <table class="table">
    <thead class="thead-light">
      <th scope="col">#</th>
      <th style="width:250px" scope="col">Nome</th>
      <th style="width:250px" scope="col">Detalhe</th>
      <th scope="col">Caixa</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Gaveta</th>
      <th scope="col">Ações</th>
    </thead>
    <tbody>
      <tr *ngFor="let componente of componentes | paginate: { itemsPerPage:10, currentPage: p, totalItems : total }; let i = index">
      <td>{{componente.id}}</td>
      <td>{{componente.nome}}</td>
      <td>{{componente.tipo}}</td>
      <td>{{componente.caixa}}</td>
      <td>{{componente.quantidade}}</td>
      <td>{{componente.gaveta}}</td>
      <td>
        <button type="button" [routerLink]="['/componenteAdd', componente.id]" routerLinkActive="router-link-active" class="btn btn-warning btn-sm">Editar</button>
        <button type="button" (click)="deleteComponente(componente.id, i)" class="btn btn-danger btn-sm mx-2">Excluir</button>
      </td>
    </tbody>
  </table>

  <div class="text-center">
    <pagination-controls (pageChange)="carregarPagina( p = $event)" previousLabel="Voltar" nextLabel="Avançar" responsive="true"></pagination-controls>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" style="min-width: 90%;min-height:90%;height:90%;">

    <div class="modal-content">

      <div class="modal-body">
        <iframe id="PDF" width="100%" height="600" frameborder="0" allowtransparency="true"></iframe>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
      </div>

    </div>

  </div>

</div>
