<h3 style="padding: 10px;">Cadastro do Componente</h3>

<form style="padding: 10px" #formValidate ="ngForm">

  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="id">ID</label>
      <input type="text" [(ngModel)]="componente.id" class="form-control" id="id" readonly="true" name="id" autocomplete="false">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nomeComponente">Nome do Componente</label>
      <span style="color: red; font-size: 23px;" *ngIf="nomeComponenteValidate.invalid"> *</span>
      <input type="text" [(ngModel)]="componente.nome" #nomeComponenteValidate="ngModel" class="form-control" id="nomeComponente" required="true" name="id" autocomplete="false">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="descricao">Descrição</label>
      <input type="text" [(ngModel)]="componente.tipo" class="form-control" id="tipo" name="tipo"  autocomplete="false">
    </div>

    <div class="form-group col-md-2">
      <label for="quantidade">Quantidade</label>
      <input type="text" [(ngModel)]="componente.quantidade" class="form-control" id="quantidade" name="quantidade" autocomplete="false">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="caixa">Caixa</label>
      <input type="text" [(ngModel)]="componente.caixa" class="form-control" id="caixa" name="caixa" autocomplete="false">
    </div>

    <div class="form-group col-md-3">
      <label for="gaveta">Gaveta</label>
      <input type="text" [(ngModel)]="componente.gaveta" class="form-control" id="gaveta" name="gaveta" autocomplete="false">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <button type="button" class="btn btn-Light" [routerLink]="['/componenteList']" routerLinkActive="router-link-active">Voltar</button>
      <button type="button" class="btn btn-light mx-2" (click)="novo()">Limpar</button>
      <button type="button" (click)="salvarComponente()" [disabled]="nomeComponenteValidate.invalid" class="btn btn-primary mx-2">Salvar</button>
    </div>
  </div>

</form>

